/* ---------- ELEMENT ADJUSTMENTS ---------- */

/* Changing base font size of paragraph elements to be bigger */
@media only screen and (min-width: 0) {
	p {
		font-size: 1.1em;
	}
}
@media only screen and (min-width: 992px) {
	p {
		font-size: 1.1em;
	}
}
@media only screen and (min-width: 1200px) {
	p {
		font-size: 1.1em;
	}
}


/* FOOTER */
/* Enabling Sticky Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
/* Shrinking the outrageously large footer */
footer .container .row {
	margin-bottom: 8px;
}
footer.page-footer {
	padding-top: 0px;
}


/* Small font sizes to match Materialize example site */
html {
	-webkit-font-smoothing: antialiased;
}
.header, h4, h3 {
	font-weight: 300;
}


/* Re-enabling bulleted, unsorted lists */
.section ul li {
	list-style-type: circle;
	margin-left: 5em;
}


/* The default content width is so large, oh my god */
.container {
	margin: 0 auto;
	max-width: 658px;
	width: 90%;
}
#worden-logo {
	max-height: 28px;
	margin-top:16px;
	padding-right:7px;
}
@media only screen and (min-width: 601px) {
	.container {
	  width: 80%;
	}
	#worden-logo {
		max-height: 30px;
	}
}
@media only screen and (min-width: 993px) {
	.container {
	  width: 100%;
	}
}


.btn {
	height: 36px !important;
	line-height: 36px !important;
}


#drexel-logo {
	padding-top:15px;
}


/* ---------- COLOR THEME ---------- */


/* RADIO BUTTON */
/* Fill color */
[type="radio"]:checked + label:after {
	border: 2px solid #9B4DCA;
	background-color: #9B4DCA;
}
/* Border color */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
	border: 2px solid #606C76;
}


/* DROPDOWN SELECT MENU */
/* Selected items are dark purple with white foreground */
.dropdown-content li.active.selected,
.dropdown-content li.selected > span {
	background-color: #9B4DCA;
}
.dropdown-content li.active.selected > span,
.dropdown-content li:hover > span, .dropdown-content li.selected > span {
	color: white;
}
/* Hovered items are light purple with white foreground */
.dropdown-content li > a, .dropdown-content li > span {
	color: #9B4DCA;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background-color: #c79ce1;
}


/* TEXTFIELD */
/* Line color when focused */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #9B4DCA;
	box-shadow: 0 1px 0 0 #9B4DCA;
	color: #A9A9A9;
}
/* Line color */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
	border-bottom: 1px solid #D1D1D1;
}
/* Line color valid */
input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #A0EA03;
	box-shadow: 0 1px 0 0 #A0EA03;
}
/* Line color invalid */
input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
	border-bottom: 1px solid #C70876;
	box-shadow: 0 1px 0 0 #C70876;
}
/* Text foreground without focus */
input {
	color: #606C76;
}
/*input.select-dropdown {
	color: #272C30;
}*/


/* Colors */
.purple {
	background-color: #9B4DCA !important;
}
.purple-text {
	color: #9B4DCA !important;
}
.grey, .divider {
	background-color: #D1D1D1 !important;
}
.grey-text {
	color: #606C76 !important;
}
.white {
	background-color: #F4F5F6 !important;
}
.page-footer {
	border-top: solid 1px #D1D1D1;
}
html, label {
	color: #272C30 !important;
}


/* Breadcrumb */
.breadcrumb, .breadcrumb:before {
	color: #9B4DCA !important;
}
.breadcrumb:last-child {
	color: #606C76 !important;
}


/* Placeholder text color */
::-webkit-input-placeholder {
	color: #A9A9A9;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #A9A9A9;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #A9A9A9;
}
:-ms-input-placeholder {
	color: #A9A9A9;
}


/* HIGHLIGHT */
/* Safari Highlight Color */
::selection {
	background: #9B4DCA;
	color: #FFFFFF;
}
/* Firefox Highlight Color*/
::-moz-selection {
	background: #9B4DCA;
	color: #FFFFFF;
}


/* Purple Button wave */
.waves-effect.waves-purple .waves-ripple {
	background-color: #c79ce1;
}
.modal, .modal .modal-footer {
	background-color: #Ffffff;
}